/* @charset "ISO-8859-1"; */


body {
	background: url('background2.jpg') no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
    align-items: center;
}

.title{
	color: aliceblue;
	font-family: "Audiowide", monospace;
	/* font-family: "OCR A Std", monospace; */
}

.login{
    border-radius: 78px 78px 78px 78px;
    -moz-border-radius: 78px 78px 78px 78px;
    -webkit-border-radius: 78px 78px 78px 78px;
    margin: 25%;
    color: white;
    
}

.login:hover{
    opacity: 0.75;
}
